.closeBtn{

  box-sizing: border-box;
  color: white;
}

/* border: ;
rounded-none
opacity-50
focus:shadow-none
focus:outline-none
focus:opacity-100
hover:text-white
hover:opacity-75
hover:no-underline */
