.img {
  width: 333px;
  height: 500px;
  object-fit: contain;
  text-align: center;
}

.slide {
  display: flex;
  justify-content: center;
}

.container {
  width: 1500px;
  justify-content: center;
  align-content: center;
  margin: auto;
}
