.checkboxStep{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 36px;
  gap: 8px;
  border-radius: 40px;
  background-color: var(--mainColor);
  color: var(--contrastColor);
  border: none;
  outline: none;
  cursor: pointer;
  transition:.3s;

  font-family: 'Inter' ;
  font-style: normal;
  font-weight: light;
  font-size: 22px;
  line-height: 100%;
}

.checkboxStepFade:hover {
  color: var(--contrastColor);
}

.checkboxStepFade {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 36px;
  gap: 8px;
  border-radius: 40px;

  background-color: var(--optBgColor);
  color: var(--optTxtColor);
  border: none;
  outline: none;
  cursor: pointer;
  transition:.3s;

  font-family: 'Inter' ;
  font-style: normal;
  font-weight: light;
  font-size: 22px;
  line-height: 100%;
}

@media screen and (max-device-width:1024px), screen and (max-width:1024px)   {

  .checkboxStepFade {
    font-size: 18px;
    padding: 12px 20px;
  }
  .checkboxStep {
    font-size: 18px;
    padding: 12px 20px;
  }
}
@media screen and (max-device-width:768px), screen and (max-width:768px) {
  .checkboxStepFade {
    font-size: 16px;
  }
  .checkboxStep {
    font-size: 16px;
  }
}
