.footerContainer{
  width: 100%;
  margin: 0 auto;
  background-color: var(--bgColor);
  display: flex;
  align-items: flex-end;
  justify-content:center;
}


.footerWrapper {
  width: 1024px;
  background-color: var(--contrastColor);
  color: var(--bgColor);
  border-radius: 24px 24px 0px 0px;
  padding: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 128px;
}

.footerWrapper p {
  font-size: 16px !important;
  opacity: .5;
}

.hands{
height: 220px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 16px ;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px ;
}

@media screen and (max-device-width:1024px), screen and (max-width:1024px)  {
  .footerWrapper {
    width: 768px;
  }

  .hands{
    height: 160px;
    }
}

@media screen and (max-device-width:768px), screen and (max-width:768px)   {
  .footerWrapper {
    max-width: 390px;
    width: calc(100vw - 32px);
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 72px;

  }
  .hands{
    height: 170px;
    margin-bottom: 48px;
    }
}
